* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #93A3B1;
}

.contenedor {
    display: flex;
    justify-content: center;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}






